@import "tailwindcss";

body {
  background: black;
  color: white;
  font-family: "Poppins" , sans-serif ;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}